* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:active,
input:focus {
  outline: none;
  border-color: #24a0ed;
}

@media screen and (min-width: 475px) {
  #form {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
